/*main stylesheet*/

/*colour settings*/
html {
    --mainBackgroundColour: white;
    --mainTextColour: black;
    --menuBackgroundColour: #111;
    --headerTextColour: white;
    --menuTextColour: #818181;
}  

/*Fonts ive added:
    font-family: 'Crimson Text', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Playfair Display', serif;
*/
body{
    font-family: 'Libre Baskerville', serif;
    background-color: var(--mainBackgroundColour);
    color: var(--mainTextColour);
}
#main{
    background-color: var(--mainBackgroundColour);
    color: var(--mainTextColour);
}
#main hr{
    border: 1px dotted grey;
}

/*main page content*/
#content {
    margin-top: 65px;
    margin-left: 5px;
}
#content a{
    font-family: 'Libre Baskerville', serif;
    background-color: var(--mainBackgroundColour);
    color: var(--mainTextColour);
}
#content h1, h2, h3, h4{
    text-decoration: none;
}
#content p{
    text-decoration: none;
}

/*footer*/
#footer {
    text-decoration: none;
    text-align: center;
    float: bottom;
}
#footer p{
    font-size: 70%;
}
#footer p span{
    font-size: 100%;
}
#footer p a{
    color:var(--mainTextColour);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}