/*main stylesheet*/

/*Fonts ive added:
    font-family: 'Crimson Text', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Playfair Display', serif;
*/

body{
    font-family: 'Libre Baskerville', serif;
}

/*header / title bar*/
#header {
    background-color:#111;
    color:white;
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: block;
    margin: 0;
    overflow: auto;
}
#header span{
    padding-top:5px;
}
#header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #111;
}
#header li{
    display: inline-block;
    vertical-align: middle;
}
#header li a{
    text-decoration: none;
    color: white;
}

/*main page content*/
#content {
    background-color:white;
    margin-top: 60px;
    margin-left: 5px;
}
#content h1, h2, h3, h4{
    color: black;
}
#content p{
    color:black;
}

/*footer*/
#footer {
    background-color:white;
    margin-left: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}